*,
*::after,
*::before {
  margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  



nav{
    background-color: rgb(255, 248, 248);
    box-shadow: 0px 1px 10px rgb(163, 125, 125);
    border-bottom: 1px solid varrgb(204, 204, 204);
    width: 100%;
    position: fixed;
}
nav p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.nav-wrap{
    max-width: 1140px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
  }

nav ul li {
    color: #4d4a4a;
    font-size: 0.9rem;
  }  

nav ul li a{
    padding: 1rem 0;
    font-weight: bold;
    display: block;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease;
  }

  nav ul li:not(:last-child) {
    margin-right: 4.5rem;
  }
  nav ul li a.active,
  nav ul li a:hover {
    border-bottom: 4px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }



  
  .container {
    max-width: 1140px;
    width: 95%;
    margin: 0 auto;
  }
  
  #home {
    height: 100vh;
    display: flex;
    align-items: center;
  }
 
  .landing-content {
    flex: 1;

  }
  .landing-content img {
    width: 70px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;   
  }

  .landing-content p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  .landing-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .landing-content ul {
    display: flex;
  }

  #home ul li {
    color: #663980;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 2rem;
    
  }
  #home ul li:not(:last-child) {
    margin-right: 2.5rem;
  }

  #home ul li:hover {
    color: rgb(0, 0, 0);
  }

  .landing-banner {
    width: 100%;
    max-width: 600px;
  }


  .project-cards {
   
display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  }
  
  .project-card {
    max-width: 300px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
  }


  .project-card img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    flex: 1;
  }

  .project-details {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }

  .project-details p {
    font-weight: 600;
    
  }
  .project-details ul {
    display: flex;
    
  }
  .project-details ul li {
    color: #696969;
    transition: all 0.3s ease;
  }
  .project-details ul li:hover {
    color: #000;
  }
  .project-details ul li:first-child {
    margin-right: 2rem;
  }




  

  .about-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 3rem;
  }
  
  .about-info {
    display: flex;
    align-items: center;
  }
  .about-info > div h4 {
    margin: 0.5rem 0 1rem 0;
  }
  .about-info > div p {
    font-weight: 600;
    color: #696969;
  }
  
  #about ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 3rem;
  }
  
  #about ul li {
   
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
  }
  #about ul li h2{
    color: rgb(5, 5, 5);
    text-align: left;
    width: 200px;
  }
  
  #about ul li span {
    font-weight: 600;
    justify-content: space-between;
    
    
  }
 
  #about ul li h3{
    display: flex;
    text-size-adjust: 2rem;
    padding-top: 0.5rem;
    flex-direction: column;
  }

  
  #about ul li img {
    width: 50px;
    object-fit: contain;
    margin-right: 0.5rem;
  }



.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #ebe8e8;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1300px;
}

table {
  width: 100%;
  background-color: rgb(255, 255, 255);
  
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1 {
  width: 100px;
  
}
.column100.column2 {
  width: 265px;
  
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
  
}


.table100.ver1 td {
  font-family:inherit;
  font-size: 14px;
  color: #000000;
  line-height: 1.4;
}

.table100.ver1 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #36304a;
}

.table100.ver1 .row100:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-ver1 {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-head-ver1 {
  background-color: #484848 !important;
}

.table100.ver1 .row100 td:hover {
  background-color: #6c7ae0;
  color: #fff;
}

#contact header {
  margin-top: 5rem;
}

.contact-border {
  background-color: #ccc;
  height: 1px;
}
.contact-info {
  text-align: center;
}

.contact-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin: -2rem 0 0.5rem 0;
}
.contact-info__desc {
  font-weight: 600;
  color:  #696969;
}